<div class="accordionBoard" id="boardAccordion">

</div>

<div class="modal fade right" id="commentModal" tabindex="-1" role="dialog" data-backdrop="true" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-warning" role="document" style="width: 125vw;">
    <div class="modal-content">
      <div class="modal-header amber darken-3">
        <p class="heading lead">Comment</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body-menu m-0 p-3 commentBody">
        <div class="row">
          <div class="col-lg-12 commentTaskName"></div>
        </div>
        <div class="containerComment"></div>
        <div class="commentForm">
          <!-- <div class="row">
            <div class="col-lg-10">
              <input type="text" class="form-control commentInputText" placeholder="Write a comment here">
            </div>
            <div class="col-lg-2 align-self-center inputTextAttachment d-none">
              <img src="../public/assets/img/attachment.svg" width="30" height="30" />
            </div>
          </div> -->
          
          <div class="row">
            <div class="col-lg-9">
              <textarea placeholder="Write a comment here (press enter to submit)" class="form-control commentInputArea" rows="3"></textarea>
            </div>
            <div class="col-lg-3 text-center align-self-center inputCommentAreaAttachment">
              <label for="commentFile" id="commentFileLabel">
                <img src="public/assets/img/image.svg" width="30" height="30" />
              </label>
              <input id="commentFile" type="file" />
            </div>
          </div>
        </div>
        <div class="containerComment"></div>
        <div class="commentContent">

        </div>
      </div>
    </div>
  </div>
</div>