<div class="d-block" style="margin: 3em auto; width: 50%;text-align: center;">
    <span style="font-size: xxx-large; color: black;">Setting</span>
</div>

<article class="beefup settingBeef mx-5">
    <div class="settingSlack beefup__head" data-name="slack" data-id="1" data-toggle="collapse" data-target="#slackSetting" aria-expanded="true"
        aria-controls="slackSetting">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="mb-0"><i class="fab fa-slack"></i>&nbsp;&nbsp;Slack</h4>
            </div>
        </div>
    </div>
    <div id="slackSetting" class="collapse beefup__body" aria-labelledby="1">
        <div id="for1">

        </div>
    </div>
</article>