<div class="d-block" style="margin: 3em auto; width: 50%;text-align: center;">
    <span style="font-size: xxx-large; color: black;">Setting</span>
</div>

<div>
    <!-- <article class="beefup settingBeef mx-5">
        <div class="settingSlack beefup__head" data-name="slack" data-id="1" data-toggle="collapse" data-target="#slackSetting" aria-expanded="true"
            aria-controls="slackSetting">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-0"><i class="fab fa-slack"></i>&nbsp;&nbsp;Slack</h4>
                </div>
            </div>
        </div>
        <div id="slackSetting" class="collapse beefup__body" aria-labelledby="1">
            <div id="for1">
    
            </div>
        </div>
    </article> -->
    <article class="beefup settingBeef mx-5 position-relative mb-3">
        <label class="switch row switchSlack" style="position: absolute; right: 3%; top:25%;margin-right: 0.25em; z-index: 25;"><input type="checkbox" class="switchSlackStatus"><div class="slider round"><span class="on">Activated</span><span class="off">Deactivated</span></div></label>
        <div class="settingSlack beefup__head" style="z-index: 1;" data-name="slack" data-id="1" data-toggle="collapse" data-target="#slackSetting" aria-expanded="true"
            aria-controls="slackSetting">
            <div class="row">
                <div class="col-lg-12" style="align-self: center;">
                    <h4 class="mb-0"><i class="fab fa-slack"></i>&nbsp;&nbsp;Slack</h4>
                </div>
            </div>
        </div>
        <div id="slackSetting" class="collapse beefup__body" aria-labelledby="1">
            <div id="for1" class="d-flex">
    
            </div>
        </div>
    </article>
    <article class="beefup settingBeef mx-5 position-relative">
        <label class="switch row switchTelegram" style="position: absolute; right: 3%; top:25%;margin-right: 0.25em; z-index: 25;"><input type="checkbox" class="switchTelegramStatus"><div class="slider round"><span class="on">Activated</span><span class="off">Deactivated</span></div></label>
        <div class="settingTelegram beefup__head" style="z-index: 1;" data-name="telegram" data-id="1" data-toggle="collapse" data-target="#telegramSetting" aria-expanded="true"
            aria-controls="telegramSetting">
            <div class="row">
                <div class="col-lg-12" style="align-self: center;">
                    <h4 class="mb-0"><i class="fab fa-telegram"></i>&nbsp;&nbsp;Telegram</h4>
                </div>
            </div>
        </div>
        <div id="telegramSetting" class="collapse beefup__body" aria-labelledby="1">
            <div id="fort1" class="d-flex">
    
            </div>
        </div>
    </article>
</div>
