#wrapper {
    overflow-x: hidden;
 }

 .addBoard {
   cursor: pointer;
 }

 .boardContent {
  max-height: 100vh;
  overflow: scroll;
 }

 .boardList{
   &:hover{
    background: #ffca28;
   }
 }

 .popover{
  min-width: 175px;
}

.borderless td, .borderless th {
  border: none;
}

.boardListPlaceMain {
  max-height: 35vh;
  overflow-y: scroll;
}

.boardListPlacePrivate {
  max-height: 35vh;
  overflow-y: scroll;
}

.menuRow {
  &:hover{
    background: #ffca28;
    cursor: pointer;
   }
}

#sidebar-wrapper {
  min-height: 93vh;
  max-height: 93vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.95rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.removeSidebar {
  &:hover{
    cursor: pointer;
  }
}

.reviewStat {
  background: cadetblue;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.urgentPrio {
  background: black;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.reviewLabel {
  background-color: cadetblue;
}

.urgentLabel {
  background-color: black;
}

.highPrio {
  background-color: red;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.highLabel {
  background-color: red;
}

.mediumPrio {
  background-color: orange;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.pendingPrio {
  background-color: teal;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.lowLabel {
  background-color: limegreen;
}

.mediumLabel {
  background-color: orange;
}

.pendingLabel {
  background-color: teal;
}

.commentTaskName {
  font-size: xx-large;
  text-align: start;
}

.commentTaskMember {
  font-size: large;
  text-align: end;
}

.txtAreaReply {
  border-radius: 15px;
  resize: none;
}

textarea {
  resize: none;
}

.commentInputArea {
  border-radius: 15px;
  resize: none;
}

.delBoard {
  &:hover{
    cursor: pointer;
  }
}

.editBoard {
  &:hover{
    cursor: pointer;
  }
}

.gridLayout3 { 
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.nameReply {
  align-self: center;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}

.memberLogo {
  align-self: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 15px;
}

.memberLogo1 {
  align-self: center;
  text-align: center;
  background: limegreen;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 15px;
}

.memberLogo2 {
  align-self: center;
  text-align: center;
  background: skyblue;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 15px;
}

.memberLogo3 {
  align-self: center;
  text-align: center;
  background: mediumvioletred;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 15px;
}

.memberLogo4 {
  align-self: center;
  text-align: center;
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 15px;
}

.picLogo {
  align-self: center;
  text-align: center;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
}

.picLogo1 {
  align-self: center;
  text-align: center;
  background: limegreen;
  padding: 7.5px;
  margin-right: 15px;
  border-radius: 50px;
}

.picLogo2 {
  align-self: center;
  text-align: center;
  background: skyblue;
  padding: 7.5px;
  margin-right: 15px;
  border-radius: 50px;
}

.picLogo3 {
  align-self: center;
  text-align: center;
  background: mediumvioletred;
  padding: 7.5px;
  margin-right: 15px;
  border-radius: 50px;
}

.picLogo4 {
  align-self: center;
  text-align: center;
  background: black;
  padding: 7.5px;
  margin-right: 15px;
  border-radius: 50px;
}

.commentLogo {
  align-self: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
}

.commentLogo1 {
  align-self: center;
  text-align: center;
  background: limegreen;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
}

.commentLogo2 {
  align-self: center;
  text-align: center;
  background: skyblue;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
}

.commentLogo3 {
  align-self: center;
  text-align: center;
  background: mediumvioletred;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
}

.commentLogo4 {
  align-self: center;
  text-align: center;
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
}

.addTeamIcon {
  transform: translateX(10px);
  align-self: center;
}

.initialName {
  color: white;
}

.containerComment {
  min-height: 5vh;
}

.commentContent {
  overflow-y: scroll;
  max-height: 65vh;
}

.lowPrio {
  background: limegreen;
  border-radius: 10rem!important;
  padding: 0.5rem;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.pic {
  &:hover{
    cursor: pointer;
  }
}

.team{
  &:hover{
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .w768 {
    margin-left: 0 !important;
  }

  .w767 {
    margin-left: -15rem !important;
  }

  // #sidebar-wrapper {
  //   margin-left: 0;
  // }
  

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.table {
  border-collapse: separate;
  border-spacing:1em 20px;
}

.warp-boundary{
  min-height: 93vh;
  max-height: 93vh;
  // overflow-y: hidden;
}

.goTrello {
  &:hover{
    cursor: pointer;
  }
}

#formChart {
  transform: translate3d(-100px, 38px, 0px) !important;
  width: 20vw !important;
}

.inputCommentAreaAttachment > input {
  display: none;
}

.labelCommentEach > input {
  display: none;
}

.commentFileName {
  word-break: break-all;
  white-space: normal;
}

#commentFileAll {
  word-break: break-all;
  white-space: normal;
}

.filePrev {
  &:hover{
    cursor: pointer;
  }
}

.fontWeight400 {
  font-weight: 400;
}

#logout {
  &:hover{
    cursor: pointer;
  }
}