<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark amber darken-3 lighten-1">
  <img src="public/assets/img/logo.png" width="50" height="50" class="rounded-circle profilePict">
  <a class="navbar-brand dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-lighten-4 text-white" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      &nbsp;Hello, <span class="whiteColor" id="empName"></span>
    </a>
    <div class="dropdown-menu dropdown-unique left90" style="right: auto;left: 7.5vw;"
      aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item waves-effect waves-light" id="logout" href="javascript:void(0);">Logout</a>
    </div>
  </a>

  <ul class="navbar-nav ml-auto nav-flex-icons pull-right">
    <li class="nav-item avatar alignSelfCenter">
      <a class="nav-link p-0" href="javascript:void(0);" data-toggle="modal" data-target="#modalPoll">
        <i _ngcontent-ijs-c19="" class="material-icons icon-image-preview text-white">menu</i>
      </a>
    </li>
  </ul>
</nav>

<section id="shortcutSection">
  <div class="modal fade" id="modalCommentCS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-lg" role="document">
      <div class="modal-content-comment">
        <div class="modal-body-comment mb-1">
        </div>
      </div>
    </div>
  </div>
</section>