<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark amber darken-3 lighten-1">
  <img src="public/assets/img/logo.png" width="50" height="50" class="rounded-circle profilePict">

  <div class="text-white ml-3">Hello, <span class="whiteColor" id="empName"></span></div>

  <ul class="navbar-nav ml-auto nav-flex-icons pull-right" id="logout">
    <li class="nav-item avatar alignSelfCenter">
      
      <img src="../public/assets/img/log-out.svg" width="25" height="25" />
    </li>
  </ul>
</nav>

<section id="shortcutSection">
  <div class="modal fade" id="modalCommentCS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-lg" role="document">
      <div class="modal-content-comment">
        <div class="modal-body-comment mb-1">
        </div>
      </div>
    </div>
  </div>
</section>