<div class="accordionBoard" id="boardAccordion">

</div>

<div class="modal fade right" id="commentModal" tabindex="-1" role="dialog" data-backdrop="true" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header amber darken-3">
        <p class="heading lead">Comment</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body-menu m-0 p-3 commentBody">
        <div class="row">
          <div class="col-lg-6 commentTaskName"></div>
          <div class="col-lg-6">
            <div class="row">
              <div style="display: flex;" class="col-lg-12 commentTaskMember justify-content-center">

              </div>
            </div>
          </div>
        </div>
        <div class="containerComment"></div>
        <div class="commentForm">
          <input type="text" class="form-control commentInputText" placeholder="Write a comment here">
          <textarea placeholder="Write a comment here (press enter to submit)"
            class="form-control commentInputArea d-none" rows="3"></textarea>
        </div>
        <div class="containerComment"></div>
        <div class="commentContent">

        </div>
      </div>
    </div>
  </div>
</div>