<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right boardSidebar w768" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="row headerWrapper">
        <div class="col-lg-10">
          Project Board
          <span class="addBoard"> <i data-feather="plus"></i></span>
        </div>
      </div>
    </div>


    <div class="list-group list-group-flush mt-2 mb-3 boardListPlaceMain">

    </div>



    <div class="list-group list-group-flush mt-2 boardListPlacePrivate">

    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="boardHeader" style="border-bottom:1px solid #dee2e6;">

    </div>

    <div class="container-fluid boardContent p-3">

    </div>
  </div>
</div>