<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right boardSidebar w768" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="row headerWrapper">
        <div class="col-lg-12">
          Project Board
          <span class="addBoard"> <i class="fas fa-plus ml-1"></i></span>
          <span class="goTrello"> <i data-feather="trello"></i></span>
        </div>
      </div>
    </div>


    <div class="list-group list-group-flush mt-2 mb-3 boardListPlaceMain">

    </div>



    <div class="list-group list-group-flush mt-2 boardListPlacePrivate">

    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="boardHeader" style="border-bottom:1px solid #dee2e6;">

    </div>

    <div class="container-fluid boardContentData p-3">

    </div>
    <div id="chartSection">
      <div id="pageFilter" class="d-flex flex-row-reverse align-items-center p-3">  
      </div>
      <div class="container-fluid boardContent p-3">
        <div class="card mt-3 mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-12" id="boardTypeForMe">
              </div>         
            </div>

            <div class="row">
              <div class="col-lg-12" id="boardType">
              </div>         
            </div>

            <!-- <div class="row">
              <div class="col-lg-12" id="boardType">
              </div>
              <div class="col-lg-12" id="boardDivision">                
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12" id="boardTypeForMe">
              </div>
              <div class="col-lg-12" id="boardMember">
              </div>              
            </div>

            <div class="row">
              <div class="col-lg-12" id="taskForMe">                
              </div>
              <div class="col-lg-12" id="taskForMeByStatus">                
              </div>              
            </div>

            <div class="row">
              <div class="col-lg-12" id="boardTask">                
              </div>
              <div class="col-lg-12" id="taskByDivision">                
              </div>              
            </div>

            <div class="row">
              <div class="col-lg-12" id="taskByStatus">                
              </div>
              <div class="col-lg-12" id="taskByPriority">                
              </div>              
            </div>
            <div class="row">
              <div class="col-lg-12" id="taskByDivisionAndStatus">                
              </div>
              <div class="col-lg-12" id="taskByDeadLine">                
              </div>              
            </div> -->

          </div>
        </div>
      </div>
    </div>

  </div>


</div>