<div class="title-text">
    <h1 class="font-weight-bold">Sign Up</h1>
    <h3>Let's get started</h3>
</div>

<div class="my-3 mt-lg-5 py-3">
    <div class="form-row mb-3 mb-lg-4">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <input type="text" id="name" class="rounded font-weight-light w-100 shadow" placeholder="Your Name" autocomplete="off" />
        </div>
        <div class="col-12 col-lg-6">
            <input type="text" id="email" class="rounded font-weight-light w-100 shadow" placeholder="Email" autocomplete="off" />
        </div>
    </div>
    <div class="form-row mb-3 mb-lg-4">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <input type="text" id="address" class="rounded font-weight-light w-100 shadow" placeholder="Your Address" autocomplete="off" />
        </div>
        <div class="col-12 col-lg-6">
            <input type="text" id="company" class="rounded font-weight-light w-100 shadow" placeholder="Your Company" autocomplete="off" />
        </div>
    </div>
    <input type="password" id="password" class="rounded font-weight-light w-100 mb-3 mb-lg-4 shadow" placeholder="Password" />
    <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input cursor-pointer" id="defaultChecked" />
        <label class="custom-control-label cursor-pointer" for="defaultChecked">You're okay with our Terms of Service & Privacy Policy</label>
    </div>
</div>

<div class="mb-3 d-flex flex-column flex-md-row align-items-stretch align-items-md-center justify-content-between">
    <button class="btn btn-dark rounded m-0 font-weight-normal shadow waves-effect">Create an Account</button>
    <p class="m-0 mt-4 mt-md-0">Already have an account? <span class="cursor-pointer link" onclick="getPage(this)" data-target="login">Sign In</span></p>
</div>
